################################################################################
# MS INVENTORY
################################################################################

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-inventory
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-inventory
  template:
    metadata:
      labels:
        app: ms-inventory
    spec:
      containers:
      - name: ms-inventory
        image: fabimessidev/ms-inventario:latest
        ports:
          - containerPort: 8080
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://mysql-service:3306/toolrentdb
        - name: SERVER_PORT
          value: "8080"
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: mysql-root-password
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          valueFrom:
            configMapKeyRef:
              name: global-config
              key: eureka-url

---

apiVersion: v1
kind: Service
metadata:
  name: ms-inventory
spec:
  selector:
    app: ms-inventory
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP

---

################################################################################
# MS LOANS
################################################################################

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-loans
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-loans
  template:
    metadata:
      labels:
        app: ms-loans
    spec:
      containers:
      - name: ms-loans
        image: fabimessidev/ms-prestamos:latest
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://mysql-service:3306/loans_db
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: mysql-root-password
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          valueFrom:
            configMapKeyRef:
              name: global-config
              key: eureka-url

---

apiVersion: v1
kind: Service
metadata:
  name: ms-loans
spec:
  selector:
    app: ms-loans
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP
